@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}


html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
@keyframes partners {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-partners {
  animation: partners 25s linear infinite;
}
